<div class="col">
  <div
    class="card h-100"
    [routerLink]="['/Pyme/', pyme.name, pyme._id]"
    style="cursor: pointer"
  >
    <img
      src="{{ url + 'GetImage/' + pyme.logo }}"
      class="card-img-top"
      [alt]="pyme.name"
    />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{ pyme.name }}</h5>
        <button type="button" class="btn btn-outline-primary btn-sm">
          ¡Haz tu pedido!
        </button>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between">
          <span class="badge rounded-pill bg-info text-dark">
            <i class="fa fa-tag fa-sm"></i>
            {{ pyme.category }}
          </span>

          <span class="badge rounded-pill bg-warning text-dark ms-1">
            <i class="fa fa-star fa-sm"></i>
            {{ pyme.creationDate | date : "dd/MM/yyyy" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
