/* Estilos para el scroll vertical */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #413A1C; /* Color del thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el cursor */
  }
  
.custom-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }


