<section class="h-100" style="background-color: bisque">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Carrito - {{ kart.amountItems }}</h5>
          </div>
          <div
            class="card-body"
            *ngFor="let kartItem of kart.items; let indice = index"
          >
            <button
              type="button"
              class="btn btn-danger btn-sm me-1 mb-2"
              data-mdb-toggle="tooltip"
              title="Remove item"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
                (click)="remove(indice)"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
            <!-- Single item -->
            <app-shopping-kart-item
              [kartItem]="kartItem"
              [kart]="kart"
              [index]="indice"
            ></app-shopping-kart-item>
            <!-- Single item -->
          </div>
          <div
            [hidden]="!(kart.items.length == 0)"
            class="card-body"
            style="text-align: center; justify-content: center"
          >
            <p>
              <strong> No hay items en el carrito ve a comprar </strong>
              <a href="http:/Home">aqui</a>
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong> Direccion de envio</strong></p>
            <input
              type="text"
              name="adress"
              id="adress"
              class="form-control"
              placeholder="Calle xx Numero xx interior xx xxx"
              style="text-align: center; justify-content: center"
              [(ngModel)]="address"
              #direccion
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Resumen</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Productos
                <span>{{ kart.toPay | currency : "USD" }}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center px-0"
              >
                Envio
                <span>Gratis</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
              >
                <div>
                  <strong>Total</strong>
                  <strong>
                    <p class="mb-0">(IVA incluido)</p>
                  </strong>
                </div>
                <span
                  ><strong>{{ kart.toPay | currency : "USD" }}</strong></span
                >
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="pay()" [disabled]="!direccion.value">
              Ir a pagar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
