<div class="productForm container">
  <h2 class="title">{{ title }}</h2>
  <div class="message Success" *ngIf="status == 'Success'">
    El producto ha sido creado correctamente, puedes verlo
    <a (click)="redirect()">AQUÍ</a>
  </div>
  <div class="message Failed" *ngIf="status == 'Failed'"></div>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div class="form-group">
      <label for="name">Nombre del producto</label>
      <input
        name="name"
        type="text"
        #nombre="ngModel"
        [(ngModel)]="product.name"
        required
        class="form-control"
      />
      <span *ngIf="nombre.touched && !nombre.value" class="formError">Este campo es obligatorio</span>
    </div>
    <div class="form-group">
      <label for="caracteristicas">Características del producto</label>
      <textarea
        name="caracteristicas"
        type="text"
        #caract="ngModel"
        [(ngModel)]="product.description"
        required
        class="form-control"
      ></textarea>
      <span *ngIf="caract.touched && !caract.value" class="formError">Este campo es obligatorio</span>
    </div>
    <div class="form-group">
      <label for="precio">Precio del producto</label>
      <input
        min="0"
        name="precio"
        type="number"
        #precio="ngModel"
        [(ngModel)]="product.price"
        required
        class="form-control"
      />
      <span *ngIf="precio.touched && !precio.value" class="formError">Este campo es obligatorio</span>
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad de producto</label>
      <input
        min="0"
        name="cantidad"
        type="number"
        #cantidad="ngModel"
        [(ngModel)]="product.stock"
        required
        class="form-control"
      />
      <span *ngIf="cantidad.touched && !cantidad.value" class="formError">Este campo es obligatorio</span>
    </div>
    <br>
    <div class="form-group">
      <label for="imagen">Imagen del producto</label>
      <input
        name="imagen"
        type="file"
        placeholder="Subir imagen"
        #imagen
        (click)="showErrorMessage = true" 
        (change)="fileChangeEvent($event)"
        class="form-control"
        required
      />

      <div *ngIf="!imagen.value && showErrorMessage" class="form-text formError"> <!-- Mostrar el mensaje solo si no hay valor y showErrorMessage es true -->
        Este campo es obligatorio
      </div>

    </div>
    <br>
    <input type="submit" value="Enviar" [disabled]="!productForm.form.valid" class="btn custom-button" />
  </form>
</div>
